/*---- ---- Application Wide CSS ---- ----*/

/*---- State Transition Fading ----*/
.ng-enter {
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.ng-enter-active {
    opacity: 1;
}

/*---- Material Toast ----*/
md-toast.md-success-toast-theme .md-toast-content {
    background-color: #4CAF50;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: #F44336;
}

md-toast.md-warning-toast-theme .md-toast-content {
    background-color: #F57C00;
}

/*---- Gray Scale ----*/
.map-gray-1 {
    background-color: rgb(250,250,250);
}

.map-gray-2 {
    background-color: rgb(225,225,225);
}

.map-gray-3 {
    background-color: rgb(200,200,200);
}

.map-gray-4 {
    background-color: rgb(175,175,175);
}

/*---- General ----*/
html, body {
    overflow-y: hidden !important;
    /*-ms-overflow-style: auto | none | scrollbar | -ms-autohiding-scrollbar*/
}

body {
    background-color: transparent;
}

.site-content-toolbar {
    background: #FFAB40 !important;
    color: #202020 !important;
}

.breadcrumb-arrow > svg {
    fill: rgb(150,150,150);
}

.listItem-active {
    background-color: rgba(228, 241, 213, 1);
}

    .listItem-active svg {
        fill: rgba(108, 157, 52, 1);
    }

    .listItem-active p {
        color: rgba(108, 157, 52, 1);
    }

.listItem-active-accent {
    background-color: rgba(219, 232, 255, 1);
}

    .listItem-active-accent svg {
        fill: rgba(68, 137, 254, 1);
    }

    .listItem-active-accent p, .listItem-active-accent h2, .listItem-active-accent h3, .listItem-active-accent h4, .listItem-active-accent h5, .listItem-active-accent h6 {
        color: rgba(68, 137, 254, 1) !important;
    }

/*---- Angular Material Overwride ----*/
.ink-bar-top md-pagination-wrapper {
    height: 2px;
}

md-list.mdo-listitem-padding md-list-item div:first-child {
    padding-top: 12px;
}



/*---- edit animation ----*/
.edit-animation.ng-enter,
.edit-animation.ng-leave {
    -webkit-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 650ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: absolute;
}

.edit-animation-left.ng-enter {
    left: 100%;
}

    .edit-animation-left.ng-leave,
    .edit-animation-left.ng-enter.ng-enter-active {
        left: 2%;
    }

        .edit-animation-left.ng-leave.ng-leave-active {
            left: -100%;
        }

.edit-animation-right.ng-enter {
    left: -100%;
}

    .edit-animation-right.ng-leave,
    .edit-animation-right.ng-enter.ng-enter-active {
        left: 2%;
    }

        .edit-animation-right.ng-leave.ng-leave-active {
            left: 100%;
        }

.edit-animation-top.ng-enter {
    top: 100%;
}

    .edit-animation-top.ng-leave,
    .edit-animation-top.ng-enter.ng-enter-active {
        top: 10px;
    }

        .edit-animation-top.ng-leave.ng-leave-active {
            top: -100%;
        }


/*Report Menu*/
.popout-menu {
    background: white;
    width: 400px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}


/*DENSE TAB MENU*/
.dense-tabs md-tabs-wrapper{
    background-color: rgb(245,245,245);
    height: 30px;
}
.dense-tabs md-tab-item{
    padding: 2px 24px;
}
.dense-tabs md-pagination-wrapper{
    height: 30px;
}